.connectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
}
.walletIconContainer{
    background-color:#480799;
    text-align: center;
    border-radius: 50%;
    height: 100%;
    padding: 3rem;
}
.walletIcon{
    font-size: 4rem;
}
.connectWrapper{
    text-align: center;
}
.connectBtn{
    margin-top:2rem ;
    text-align: center;
}